.discount {
    background: $bBlue url(../../../../img/discount-bg.png) no-repeat;
    background-position: bottom;
}

.discount h4,
.discount h2 {
    color: white;
    
}

.discount h2 {
    margin: 100px 0 45px 0;
    
}
.discount h4 {
    margin-bottom: 350px;
    font-size: 20px;
}
