.footer-nav{
    background-color: $bBlue;
    padding: 25px 0;
}



.footer-nav a {
    font-family: 'PoppinsMED';
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}