@font-face {
    font-family: 'Open SansB';
    src: url('../../fonts/OpenSans-Extrabold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open SansI';
    src: url('../../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open SansN';
    src: url('../../fonts/OpenSans.woff2') format('woff2'),
        url('../../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsN';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsB';
    src: url('../../fonts/Poppins.woff2') format('woff2'),
        url('../../fonts/Poppins.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsR';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Museo Sans 500';
    src: url('../../fonts/MuseoSans-500.woff2') format('woff2'),
        url('../../fonts/MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsMED';
    src: url('../../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: bold;
    font-display: swap;
}

